:root {
  --slidev-theme-primary: #5d8392;
}

/* .slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
} */
.slidev-layout.intro {
  background-image: url('/images/intro.png')
}

.slidev-layout.intro h1 {
  @apply text-left font-bold
  font: normal normal normal 'Futura DC D';
  letter-spacing: 0px;
  opacity: 1;
}

.slidev-layout.intro h2 {
  @apply py-96 my-24 text-left text-5xl;
  font: normal normal bold Texta;
  letter-spacing: 0px;
  opacity: 1;
}

.slidev-layout.section {
  background-image: url('/images/section.png')
}
.slidev-layout.section h1 {
  @apply text-left font-bold;
  font: normal normal bold Texta;
  letter-spacing: 0px;
  opacity: 1;
}

.slidev-layout.section h2 {
  @apply text-left font-medium;
  font: normal normal bold Texta;
  letter-spacing: 0px;
  opacity: 1;
}

.slidev-layout.default h1 {
  @apply text-4xl;
}
.slidev-layout.default h2 {
  @apply text-3xl py-1 my-1;
}
.slidev-layout.default {
  background-image: url('/images/default.png');
  @apply text-2xl;
  font: normal normal bold Texta;
  letter-spacing: 0px;
  opacity: 1;
}
.slidev-layout.default pre > code {
  @apply text-lg;
}
.slidev-layout.fact {
  background-image: url('/images/intro.png')
}
